/* TEMP CSS */

/* GLOBAL STYLES
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100%;
    min-height: 100%;
}

/* WEBSITE NAV
-------------------------------------------------- */
.topnav {
    /* background-color: rgb(102, 102, 102,0.8) */
    /* background-color: rgb(240, 179, 255); */
    background-color: #e6e6e6;
    min-height: 80px;
}

.navitems li span[itemprop="name"] {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.brand {
    font-size: 18px;
    font-weight: 700;
    color: red;
}


/* JUMBO 1 WEBSITE HEADER
-------------------------------------------------- */
.parallax {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.front-page-container {
    margin-top: 80px;
    position: relative;
    min-height: 100%;
    padding-bottom: 214px
}

#header {
    margin-bottom: 0;
    height: 800px;
    background: rgba(26, 26, 26, .5);
}

.jumbobuttons {
    margin-top: 380px;
    vertical-align: baseline;
}

.button {
    display: inline-block;
    transition-duration: 0.3s;
    border-radius: 3px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 160px;
    border: 1.1px solid rgb(102, 163, 255);
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.button a {
    text-transform: uppercase;
}

.button:hover {
    background-color: rgba(102, 163, 255, 0.9);
    color: white;
}

/* JUMBO 2 COACHING
-------------------------------------------------- */

#marketing {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.marketingintro h1 {
    font-weight: 700;
    font-size: 45px;
    margin-top: 15px;

}

.marketingintro a {
    font-weight: 400;
}

.marketing .col-lg-4 {
    margin-bottom: 50px;
    text-align: center;
}

.marketing .col-lg-4 a {
    margin-right: .75rem;
    margin-left: .75rem;
    font-size: 15px;
    font-weight: 300;
}

.marketing .col-lg-4 h3 {
    font-weight: 600;
    font-size: 23px;
    /* text-transform: uppercase; */

}

.rounded {
    border: 8px solid rgba(179, 179, 179, 0.25);
    transition-duration: 0.2s;
}

.rounded:hover {
    border: 6px solid rgba(51, 204, 255, 0.5);
}


/* JUMBO 3 ABOUT ME
-------------------------------------------------- */
#aboutme {
    background: rgba(120, 87, 173, 0.9);
    margin-bottom: 0;
}

.aboutheader {
    color: white;
    margin-bottom: 75px;
    margin-top: 15px;
}

.aboutheader h1 {
    font-weight: 700;
    font-size: 45px;
}

.aboutheader h6 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
}

.aboutme {
    color: #ffffff;
    margin-bottom: 50px;
}

.aboutme a {
    font-weight: 300;
    font-size: 14.5px;
}

.aboutme img {
    width: 540px;
    height: auto;
}

/* FOOTER
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 214px;
    background-color: #f2f2f2;
}

.footer-wrap {
    padding-top: 50px;
    background-color: #f2f2f2;
}

.contact {
    padding-bottom: 55px;
}

.icon {
    margin-bottom: 12px;
}

.material-icons.md-40 {
    font-size: 42px;
}

#icon-location {
    color: #bf00ff
}

#icon-email {
    color: #0066ff;
}

#icon-phone {
    color: #33adff;
}


/* PAGE CSS
-------------------------------------------------- */

.page-container {
    margin-top: 145px;
    position: relative;
    min-height: 100%;
    padding-bottom: 270px
}

.page-content-header {
    text-align: center;
    padding-bottom: 40px;
}

.page-content-header p {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}


.authorblock {
    height: 30px;
}

.authorblock p {
    text-align: center;
    font-size: 17px !important;
    font-weight: 500 !important;
}

.content {
    padding: 22px;
    border: 1.2px solid #ebebeb
}

.content h1 {
    padding-top: 25px;
    font-weight: 700;
    font-size: 32px;
}

.content p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}


/* ARCHIVE PAGE
-------------------------------------------------- */
.archive-container {
    margin-top: 145px;
    position: relative;
    min-height: 100%;
    padding-bottom: 270px
}

.archive-content-header {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 25px;
}

.archive-content-header h1 {
    font-weight: 600;
    font-size: 38px;
}

.archive-content-header p {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.read-more{
    /* position: absolute; */
    /* bottom: 15px; */
    /* padding-top: 15px; */
}

.blog-content {
    padding: 22px;
    border: 1.2px solid #d2cdfc;
}

.blog-content h1 {
    padding-top: 25px;
    font-weight: 700;
    font-size: 32px;
}

.blog-content p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

#blog-title {
    min-height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#blog-title h1 {
    font-size: 24px;
}

#blog-image {
    height: 220px;
    background-size: cover;
}

#blog-excerpt {
    min-height: 320px;
}


/* STYLING
-------------------------------------------------- */
.uppercase {
    text-transform: uppercase;
}

.main-underline-long h1:after {
    content: '';
    display: block;
    height: 3px;
    width: 150px;
    background: #b84dff;
    margin: 8px 0 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.main-underline-short h1:after {
    content: '';
    display: block;
    height: 3px;
    width: 80px;
    background: #b84dff;
    margin: 8px 0 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.page-content-header h1, .archive-content-header h1 > .main-underline-short h1, .main-underline-long h1 {
    text-transform: uppercase;
}

.section-underline h3:after {
    content: '';
    display: block;
    height: 3px;
    width: 120px;
    background: #66a3ff;
    margin: 10px 0 20px 0;
    margin-left: auto;
    margin-right: auto;
}